body { margin: 1cm 2cm 2cm 2cm; text-align:center; 
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1, .TitleBig { 
  font-weight: bold;
  font-size: 180%; 
  font-style: normal; 
  text-align: center; 
  margin-bottom: 1em;
  }
  
h2, .TitleMedium { 
  font-weight: bold;
  font-size: 140%; 
  font-style: normal; 
  text-align: left; }
  
h3, .TitleSmall { 
  font-weight: bold;
  font-size: 110%; 
  font-style: normal;
  text-align: left; }
   
p, td, li, th, h4 { font-size: 100%; 
  font-style: normal; 
  text-align: left; }
  
th {text-align:center; margin:10px auto; }


td.bug {font-family: Arial, Helvetica, sans-serif; font-weight: normal; color: #000000; font-size: 10pt; vertical-align: top;}

  
.small { 
  font-weight: normal;
  font-size: 80%; 
  font-style: normal; }
  
.code { font-family: courier, courier-new; font-size:10pt; text-align: left; }

code, tt { font-family: courier, courier-new, monospace;
  font-size:100%; font-style: normal;
  white-space: pre; }
  
.note {font-style:italic; }

.grey { background-color: #cccccc; }

.dgrey { background-color: #666666; }

.mgrey { background-color: #bbbbbb; }

.white { 
  font-weight: bold;
  font-size: 80%; 
  font-style: normal;
  color: #FFFFFF; }
  
.red { 
  font-weight: bold;
  font-size: 100%; 
  font-style: normal;
  color: #FF0000; }

.purple { 
  font-weight: bold;
  font-size: 100%; 
  font-style: normal;
  color: #990099; }

.redsmall { 
  font-size: 80%; 
  font-style: normal;
  color: #FF0000; }

.purplesml { 
  font-size: 80%; 
  font-style: normal;
  color: #990099; }

.Index { 
  font-weight: bold;
  font-size: 100%; 
  font-style: normal; }
  
a { color: #0000FF; }

.linkred { color: #FF0000; 
  text-decoration: none; }
  
.bugOpen {
    color: #ff0000
    }
.bugVer {
    color: #0000ff
    }
.bugEnh {
    color: #000099
    }

#text { position: relative; 
  top: 0.5cm; 
  bottom: 0.5cm;
  margin: 0.5cm 3cm 2cm 3cm; }


.menu { 
  font-weight: normal;
  font-size: 85%; 
  font-style: normal; 
  text-align:center; }

#copyw { 
  font-weight: normal;
  font-size: 85%; 
  font-style: normal; 
  position:absolute; 
  left: 3cm;}
  
#top { 
  font-weight: normal;
  font-size: 85%; 
  font-style: normal; 
  position:absolute;  
  right: 2.5cm;}

#head {width: 600px; margin: 0.5cm auto 0.5cm auto;}
  
#stlogo {position: relative; right:-4cm; }

#setup {position: relative; left:-4cm; }

#redline {text-align:center; margin-bottom:0.5cm; width:600px; height:1px; }